// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––

html {
	background-color: $light-grey;
	font-size: 16px;
}

:root {font-size: calc(.35vw + 14.6px);}

@media (min-width: 96.429em) {
	:root {font-size: 1.22rem;}
}

body {
	min-height: 100vh;
	background: $primary-color;
	background: -moz-linear-gradient(top, $secondary-color 0%, $primary-color 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, $secondary-color), color-stop(100%, $primary-color));
	background: -webkit-linear-gradient(top, $secondary-color 0%, $primary-color 100%);
	background: -o-linear-gradient(top, $secondary-color 0%, $primary-color 100%);
	background: -ms-linear-gradient(top, $secondary-color 0%, $primary-color 100%);
	background: linear-gradient(to bottom, $secondary-color 0%, $primary-color 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$secondary-color', endColorstr='$primary-color', GradientType=0 );
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 1em;
	line-height: 1.6;
	font-weight: 400;
	font-family: $font-family;
	color: $font-color;
}

.wrapper {
	padding-top: $space-m;
	padding-bottom: $space-m;
}

.container  {
	background-color: $light-grey;
}

.inner {padding: $space-s;}

.heading {padding: $space-l $space-s 0 $space-s;}

figure {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}

// Images

img[src$=".gif"], img[src$=".png"], img[src$=".jpg"] {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

// Links

a {
	color: $font-color;
	text-decoration: none;
	border-bottom: 1px solid $font-color;
	transition: border-bottom-color 0.25s ease, background-color 0.35s ease;

	&:hover {
		border-bottom: 1px solid transparent;
		background-color: $accent-color;
	}
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {
	body {font-weight: 300;}
}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {

	.wrapper {
		padding-top: $space-xl;
		padding-bottom: $space-xl;
	}
}
