// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  margin-top: $space-xs;
  margin-bottom: $space-s;
  font-family: "Playfair Display", serif;

  a {
    border-bottom: none;
    &:hover {
      border-bottom: none;
      background: none;
    }
  }
}

h1 { font-size: 2.5em; line-height: 1.2;  letter-spacing: -.05rem;}
h2 { font-size: 1.75em; line-height: 1.35; letter-spacing: -.05rem;}
h3 { font-size: 0.8em; line-height: 1;  letter-spacing: .02rem;   }

h1 {
  margin-top: calc(#{$space} / 2);
}

h2 {
  &.title {
    margin-bottom: $space;
  }
}

h3 {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 700;
}

p {
  line-height: 2;
  margin-top: 0;
  letter-spacing: -.01em;

  &.sidebar {
    font-size: 0.8rem;
    color: $medium-grey;
  }
}

small {
	text-transform: uppercase;
	font-size: .65em;
	letter-spacing: 1px;
	font-weight: 700;
}

figcaption {
  @extend small;
  color: $medium-grey;
  text-align: center;
  margin-top: 0.5rem;

  a {
    color: $medium-grey;
    border-bottom: 1px solid $medium-grey;
  }
}

.heading-inline {margin-top: 0;}