// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.full {
	width: 100%;
	box-sizing: border-box;
}

.fit {
	max-width: 100%;
	box-sizing: border-box;
}

.right {float: right;}

.left {float: left;}

.center {margin: 0 auto;}

.flex {
	display: flex;
	flex-direction: column;
}

.flex-a {order: 2;}

.flex-b {order: 1;}

.dsk {display: none;}

a.img {
	border-bottom: none;
	&:hover {background: none;}
}

figure.space {margin-bottom: $space-xl;}

// Larger than phablet
@media (#{$bp-larger-than-tablet}) {
	.flex {flex-direction: row;}

	.flex-a {order: 1;}

	.flex-b {order: 2;}

	.giraffe {
		position: relative;

		figure {
			position: absolute;
			top: 0;
			left: 0;
			margin-top: 0;
			margin-right: 0;
			margin-left: 0;
		}
	}

	.mb {display: none;}

	.dsk {display: block;}
}
