// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-mobile-only           : "max-width: 749px" !default;
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Spacing
$space    : 45px;
$space-xl : calc(#{$space} + 35px);
$space-l  : calc(#{$space} + 20px);
$space-m  : $space;
$space-s  : calc(#{$space} - 20px);
$space-xs : calc(#{$space} - 35px);

// Colors
$dark-grey   : #353230 !default;
$medium-grey : lighten($dark-grey, 45%) !default;
$light-grey  : #FEFEFE !default;

$primary-color    : #C3F2E4 !default;
$secondary-color  : #D2F1D9 !default;
$accent-color     : #FFD1FF !default;

$gradient-color-a : $primary-color !default;
$gradient-color-b : $secondary-color !default;
$gradient: linear-gradient(to top, $gradient-color-a 0%, $gradient-color-b 100%) !default;
$gradient-angle: linear-gradient(19deg, $gradient-color-a 0%, $gradient-color-b 100%) !default;

// Typography
$font-color: $dark-grey !default;
$font-family: SF Compact Text, "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 1200px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 6% !default; // space between columns
