_site
.sass-cache
.jekyll-metadata
config.codekit3
Gemfile.lock
.DS_Store
/assets/img/clients-2.png
/assets/img/clients-3.png
/assets/img/riskopy-dsk.png
/assets/img/riskopy-mb.png
/assets/img/uponarrival-dsk.png
/assets/img/uponarrival-mb.png
portfolio-riskopy.html
README.html