<!-- About -->
<div class="row flex">
	<div class="five columns flex-a">
		<figure>
			<img class="fit" src="{{ '/assets/img/sarah.jpg' | absolute_url }}" data-action="zoom" />
		</figure>
	</div>

	<div class="six columns flex-b">
		<h2 class="heading-inline">I'm Sarah Ball,<br/>a senior product designer.</h2>
		<p>I co-founded <a href="http://www.riskopy.com" target="_blank">Riskopy</a>, a data intelligence platform in the fintech space. We were <a href="http://www.coupa.com/newsworthy/press-releases/coupa-aquires-riskopy/" target="_blank">acquired</a> in 2017.</p>
		<p>Currently, I'm building developer tools at <a href="http://stepsize.com">Stepsize</a>.</p>
	</div>

</div>
