<!-- About -->

<div class="row flex">

	<div class="six columns inner" id="about-img">
		<img class="fit shadow" src="{{ '/assets/img/sarah.jpg' | absolute_url }}" />
	</div>

	<div class="five columns inner" id="about">
		<div class="heading--inline"><h1>About</h1></div>
		<p>I'm Sarah Ball, a location-independent designer and developer who loves turning ideas into pixels. I'm <a href="#worktogether">seeking work</a> in San Francisco, London, or remote. Practical but pretty design makes me happy, as does working to support good people and the planet. When I'm not at my computer I live to be outdoors – I'm an avid hiker and travel photographer.</p>
	</div>

</div>


