<!-- About -->
<div class="row flex">
	<div class="six columns flex-a">
		<figure>
			<img class="fit" src="{{ '/assets/img/sarah.jpg' | absolute_url }}" data-action="zoom" />
		</figure>
	</div>

	<div class="five columns flex-b">
		<h1 class="heading-inline">About</h1>
		<p>I'm Sarah Ball, a designer, developer, and strategist. In my work as a multidisciplinary product designer, I build sites and apps that lie comfortably in the space between attractive and practical. When I'm not at my computer, you can find me out and about in San Francisco working on community-building projects, or halfway up a mountain somewhere scenic.</p>
	</div>

</div>
