<!-- Experience -->

<section id="experience">
	<header>
		<h2>Experience</h2>
	</header>
	<div class="table">
		<div class="cell"><b>Facebook</b></div>
		<div class="cell">UI/UX Engineer</div>
		<div class="cell"><small>front-end development ∙ prototyping</small></div>

		<div class="cell"><b>Stepsize</b></div>
		<div class="cell">Senior Designer</div>
		<div class="cell"><small>product design ∙ front-end development ∙ prototyping</small></div>

		<div class="cell"><b>Riskopy (acq Coupa)</b></div>
		<div class="cell">Co-Founder & CPO</div>
		<div class="cell"><small>product design ∙ prototyping ∙ front-end development ∙ user research</small></div>

		<div class="cell"><b>Satellite Eyes Studio</b></div>
		<div class="cell">Freelance Designer & Developer</div>
		<div class="cell"><small>web design ∙ marketing design ∙ Wordpress development</small></div>

		<div class="cell"><b>Joma Bakery Cafe</b></div>
		<div class="cell">Design Director</div>
		<div class="cell"><small>web design ∙ marketing design</small></div>
	</div>
</section>