<!-- Intro -->
<section id="intro" class="grid">

	<div class="layout-nearly-full">
		<div class="hero flex-row">
			<h1>I'm</h1>
			<div class="graphic-name"></div>
			<div class="hero-pic flex-row">
				<h1>{</h1>
				<figure>
					<img class="img-fancy" width="220px" src="{{ '/assets/img-temp/sarah-1.jpg' | absolute_url }}" />
				</figure>
				<h1>},</h1>
			</div>
		</div>
	</div>
	<div class="intro-subhead layout-kinda-full">
		<h2>a multidisciplinary designer, programmer, web strategist, and entrepreneur in <span class="h2 hero-strike">sunny</span> San Francisco.</h2>
	</div>
	<div class="intro-break layout-full">
		<div class="graphic-squiggle"></div>
	</div>
	<div class="layout-half">
		<p>I founded and sold a tech company a couple years ago. Since then my work has been focused primarily on product design, with an emphasis on strategy, user experience, and prototyping.</p>
	</div>
	<div class="layout-half">
		<p>Previously, I was the in-house designer for a social enterprise coffee company in Southeast Asia. I also ran a small studio that specialized in creating a strategic web presences for independent businesses.</p>
	</div>

</section>
