<!-- Intro -->

<section id="intro" class="fullpage grid">
	<div class="image"></div>
	<div class="window"></div>
	<div class="hero-container">
		<h1 class="a">I'm</h1>
		<div class="b"></div>
		<h1 class="c">,</h1>
		<h3 class="d">a multidisciplinary designer, programmer, web strategist, and entrepreneur in <span class="h3 strike">sunny</span> <span class="h3">San Francisco.</span></h3>
	</div>
</section>
<section id="intro-sub" class="grid">
	<h1 class="a">I'm</h1>
	<div class="b"></div>
	<h1 class="c">,</h1>
</section>
<section id="hero-sub" class="grid">
	<h3 class="g_10-p off_1-p">a multidisciplinary designer, programmer, web strategist, and entrepreneur in <span class="h3 strike">sunny</span> <span class="h3">San Francisco.</span></h3>
</section>