<!-- Intro -->

<section id="intro" class="fullpage grid">
	<div class="image"></div>
	<div class="window"></div>
	<div class="hero-container">
		<h1 class="a">I'm</h1>
		<div class="b"></div>
		<h1 class="c">,</h1>
		<h3 class="d">a multidisciplinary designer, programmer, and maker in <span class="h3 strike">sunny</span> <span class="h3">San Francisco.</span></h3>
	</div>
</section>
<section id="intro-sub" class="grid">
	<h1 class="a">I'm</h1>
	<div class="b"></div>
	<h1 class="c">,</h1>
</section>

<section id="hero-sub" class="grid">
	<h3 class="g_10-p off_1-p">a multidisciplinary designer, programmer, and maker in <span class="h3 strike">sunny</span> <span class="h3">San Francisco.</span></h3>
</section>

<section id="bio" class="grid">
	<p class="layout-half">I founded and sold a software startup called <a href="https://www.coupa.com/newsworthy/press-releases/coupa-aquires-riskopy/">Riskopy</a> a few years ago. Since then my work has been focused primarily on the intersection of visual design and UI development, with an emphasis on strategy, user experience, and front-end prototyping.</p>
	<p class="layout-half">Previously, I ran a small studio that specialized in designing and developing a strategic web presences for independent businesses. I was also the in-house designer for a social enterprise coffee company in Southeast Asia.</p>
	<h3 class="layout-nearly-full"><b>Today, I'm bringing my work back to my roots.</b> I’m committed to applying my experience – in designing software, growing companies, and creating with persistent curiosity – to doing work that’s <b>sustainable</b> and <b>community-oriented.</b></h3>
</section>