<!-- Sarah -->
<section id="sarah" class="grid">
    <div class="section-header layout-full">
		<div class="heading-sarah"></div>
    </div>
    <div class="layout-half">
        <figure>
            <img class="img-fancy" src="{{ '/assets/img-temp/sarah-2.jpg' | absolute_url }}" />
        </figure>
    </div>
    <div class="layout-half center-v">
        <h3>I’ve lived in five countries and traveled to every continent. (Except Antarctica – I’m coming for ya.)</h3>
    </div>
    <div class="layout-half">
        <p>Above all, I love solo thruhiking – I’ve explored the mountains of Laos, Vietnam, Nepal, France, Italy, Scotland, Peru, Chile, and the US.</p>
    </div>
    <div class="layout-half">
        <p>I read a book every week or so, and take photos like it’s going out of style. <strong>I’m always learning something new.</strong> Lately I’m studying natural perfumery and  figuring out some folk tunes on the guitar.</p>
    </div>
    <div class="layout-quarter">
        <h2><a href="http://twitter.com/sarahdotgif">Twitter</a></h2>
        <h2><a href="http://instagram.com/sarahdotgif">Instagram</a></h2>
    </div>
    <div class="layout-quarter">
        <h2><a href="http://dribbble.com/sarahball">Dribbble</a></h2>
        <h2><a href="http://medium.com/@sarahdotgif">Medium</a></h2>
    </div>
    <div class="layout-quarter">
        <h2><a href="http://angel.co/sarah-ball">AngelList</a></h2>
        <h2><a href="https://www.linkedin.com/in/sarahaball/">LinkedIn</a></h2>
    </div>
    <div class="layout-quarter">
        <h2><a href="https://unsplash.com/sarahdotgif">Unsplash</a></h2>
        <h2><a href="http://github.com/sarahball">Github</a></h2>
    </div>
</section>
