<!-- Skills -->

<section id="skills" class="grid">
	<header>
		<h2>Skills</h2>
	</header>
	<div class="content"></div>
	<div class="item-title a">
		<b>Design through the entire product lifecycle</b>
	</div>
	<div class="item-content a">
		strategy, research, concept development, visual design, prototyping
	</div>
	<div class="item-title b">
		<b>Designer/developer hybrid</b>
	</div>
	<div class="item-content b">
		I'm a designer who codes, and this deeply affects my work and process. I can efficiently prototype, communicate clearly with developers, and gain an understanding of the possibilities and constraints of a design based on the languages we use.
	</div>
	<div class="item-title c">
		<b>Making user-centric interfaces</b>
	</div>
	<div class="item-content c">
		I think foremost in terms of usability. I don’t feel comfortable making design decisions that are purely aesthetic. To keep this front-of-mind, I always ask: What is the objective of this screen/section? What are users looking for, and how are they using the screen based on their different goals? How does my visual design reflect their intentions and needs?
	</div>
	<div class="item-title d">
		<b>Tackling challenges collaboratively</b>
	</div>
	<div class="item-content d">
		My experience has taught me to communicate how my designs serve big picture goals. Being a coder means I can give developers a smooth hand-off. And on design teams, I love pair designing to work through goals and challenges. No ego, just a "yes, and" mentality in giving and receiving feedback and turning it into a solution.
	</div>
</section>