<!-- Words -->
<div class="row">
	<div class="ten columns">
		<h1>Words</h1>
	</div>
</div>
<div class="row">
	<div class="six columns">
		<p>I've been writing about <a href="https://medium.com/@_satelliteeyes" target="_blank">ideas, process, and lessons learned</a> as a designer in tech. I also contribute to <a href="https://hackernoon.com" target="_blank">Hacker Noon.</a></p>
	</div>
	<div class="five columns">
		<p>I've spoken several times at General Assembly about <a href="https://generalassemb.ly/education/lifestyle-design-meet-the-digital-nomads/london/40174" target="_blank">location-independent work</a>.</p>
	</div>
</div>