<!-- Words -->
<div class="row">
	<div class="ten columns">
		<h1>Words</h1>
	</div>
</div>
<div class="row">
	<div class="six columns">
		<p>I'm an enthusiastic newbie to writing and speaking. I've been writing about <a href="https://medium.com/@_satelliteeyes" target="_blank">ideas, process, and lessons learned</a> while building my app. (And I'm a keen <a href="https://twitter.com/_satelliteeyes" target="_blank">tweeter</a>.)</p>
	</div>
	<div class="five columns">
		<p>This summer I spoke at General Assembly in London about <a href="https://generalassemb.ly/education/lifestyle-design-meet-the-digital-nomads/london/40174" target="_blank">location-independent work</a>.</p>
	</div>
</div>