<!-- Work -->
<div class="row">

	<div class="eleven columns heading">
		<h1>Work</h1>
	</div>

</div>
<div class="row">

	<div class="eleven columns inner">
		<p>I co-founded <a href="http://www.riskopy.com" target="_blank">Riskopy</a>, a data intelligence tool in the fintech space. We were <a href="http://www.coupa.com/newsworthy/press-releases/coupa-aquires-riskopy/" target="_blank">acquired</a> earlier this summer.</p>
	</div>

</div>
<div class="row">

	<div class="eleven columns inner">
		<img class="fit shadow dsk" src="{{ '/assets/img/riskopy-dsk.png' | absolute_url }}" />
		<img class="fit shadow mb" src="{{ '/assets/img/riskopy-mb.png' | absolute_url }}" />
	</div>

</div>
<div class="row">
	<div class="eleven columns inner">
		<p>I've also had the pleasure of building websites for great clients all over the world.</p>
	</div>
</div>

<div class="row dsk">
	<div class="six columns inner">
		<img class="fit shadow" src="{{ '/assets/img/clients-1.png' | absolute_url }}" />
	</div>
	<div class="five columns inner">
		<img class="fit shadow" src="{{ '/assets/img/clients-2.png' | absolute_url }}" />
	</div>
</div>
<div class="row dsk">
	<div class="five columns inner">
		<img class="fit shadow" src="{{ '/assets/img/clients-3.png' | absolute_url }}" />
	</div>
	<div class="six columns inner">
		<img class="fit shadow" src="{{ '/assets/img/clients-4.png' | absolute_url }}" />
	</div>
</div>
<div class="row mb">
	<div class="five columns inner">
		<img class="fit shadow" src="{{ '/assets/img/clients-1.png' | absolute_url }}" />
	</div>
	<div class="six columns inner">
		<img class="fit shadow" src="{{ '/assets/img/clients-4.png' | absolute_url }}" />
	</div>
</div>

<div class="row">
	<div class="eleven columns inner">
		<p>Now I'm building an app to make things easier for travelers arriving in a new place.</p>
	</div>
</div>
<div class="row">

	<div class="eleven columns inner">
		<img class="fit shadow dsk" src="{{ '/assets/img/uponarrival-dsk.png' | absolute_url }}" />
		<img class="fit shadow mb" src="{{ '/assets/img/uponarrival-mb.png' | absolute_url }}" />
	</div>
	
</div>