<!-- Work -->
<section id="work">
	<header>
		<h2>Work</h2>
	</header>

	<div class="masonry-wrapper-large">
		<div class="masonry-container">
			<div class="card a">
				<div class="card-header">
					<div class="card-image"></div>
				</div>
				<div class="card-content">
					<h6>Product Design</h6>
					<h3>Riskopy</h3>
					<p>I founded and was Chief Product Officer at a scrappy fintech startup. We built a tool for finance providers that aggregated and contextualized data on 100 million businesses.</p>
					<a class="btn" href="{{ site.baseurl }}{% link portfolio-riskopy.html %}">Read the Case Study</a>
				</div>
			</div>
		</div>
		<div class="masonry-container">
			<div class="card b">
				<div class="card-header">
					<div class="card-image"></div>
				</div>
				<div class="card-content">
					<h6>Web Design ∙ Product Design ∙ Marketing Design</h6>
					<h3>More interfaces</h3>
					<a class="btn" href="{{ site.baseurl }}{% link portfolio-shots.html %}">Check Them Out</a>
				</div>
			</div>
		</div>
		<div class="masonry-container">
			<div class="card c">
				<div class="card-header">
					<div class="card-image"></div>
				</div>
				<div class="card-content">
					<h6>Product Design</h6>
					<h3>Advent Online Learning</h3>
					<p>I was tasked with giving this app a design refresh. This case study takes a look at my process for restructuring the screens to improve usability and how I gave it a more modern look.</p>
					<a class="btn" href="{{ site.baseurl }}{% link portfolio-advent.html %}">Read the Case Study</a>
				</div>
			</div>
		</div>
	</div>

</section>
