<!-- Work -->
<div class="row">

	<div class="eleven columns">
		<h1>Work</h1>
		<p>I co-founded <a href="http://www.riskopy.com" target="_blank">Riskopy</a>, a data intelligence tool in the fintech space. We were <a href="http://www.coupa.com/newsworthy/press-releases/coupa-aquires-riskopy/" target="_blank">acquired</a> earlier this summer.</p>
	</div>

</div>
<div class="row">

	<div class="eleven columns">
		<figure class="dsk">
			<img class="fit" src="{{ '/assets/img/riskopy-dsk.jpg' | absolute_url }}" data-action="zoom" />
		</figure>
		<figure class="mb">
			<img class="fit" src="{{ '/assets/img/riskopy-mb.jpg' | absolute_url }}" data-action="zoom" />
		</figure>
	</div>

</div>
<div class="row">
	<div class="eleven columns">
		<p>I also have the pleasure of building websites for great clients all over the world.</p>
	</div>
</div>

<div class="row">
	<div class="five columns">
		<figure>
			<img class="fit b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '/assets/img/clients-1.png' | absolute_url }}" data-action="zoom" />
		</figure>
	</div>
	<div class="six columns">
		<figure>
			<img class="fit b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '/assets/img/clients-4.png' | absolute_url }}" data-action="zoom" />
		</figure>
	</div>
</div>

<div class="row">
	<div class="eleven columns">
		<p>Now I'm building an app to make things easier for travelers arriving in a new place.</p>
	</div>
</div>
<div class="row">
	<div class="eleven columns">
		<figure class="dsk">
			<img class="fit" src="{{ '/assets/img/uponarrival-dsk.jpg' | absolute_url }}" data-action="zoom" />
		</figure>
		<figure class="mb">
				<img class="fit" src="{{ '/assets/img/uponarrival-mb.jpg' | absolute_url }}" data-action="zoom" />
			</figure>
		</figure>
	</div>
	
</div>