<!-- Work Together -->
<div class="row" id="worktogether">

	<div class="eleven columns heading">
		<h1>Work Together</h1>
	</div>

</div>
<div class="row">

	<div class="eleven columns inner">
		<p>I'm seeking full-time work in product management – on-site, remote, or semi-remote. I design user interfaces and develop in the front-end and in Wordpress.</p>
	</div>

</div>
<div class="row">
	
	<div class="five columns inner">
		<a href="#worktogether" class="nav fancy">
			<div class="layer">
				<small>Coming Soon</small>
				<h2>Portfolio</h2>
			</div>
		</a>
	</div>

	<div class="five columns inner">
		<a href="#worktogether" class="nav fancy">
			<div class="layer">
				<small>Coming Soon</small>
				<h2>Resume</h2>
			</div>
		</a>
	</div>

</div>