<!-- Work -->
<div class="row" id="worktogether">
	<div class="ten columns">
		<h1>Work</h1>
	</div>
</div>
<div class="row">
	<div class="six columns">
		<p>I've been a multidisciplinary designer for six years. For the last three, I've been focused primarily on product design, with an emphasis on strategy and user experience.</p>
	</div>
	<div class="five columns">
		<a href="{{ site.baseurl }}{% link portfolio.html %}" class="nav fancy">
			<div class="layer">
				<h2>Portfolio</h2>
				<small>Case studies + Projects</small>
			</div>
		</a>
	</div>
</div>