// Portfolio
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Portfolio Page Layout 

.portfolio {
	background: $light;

	article {
		& > * {margin-bottom: spacer(5);}
	}

	h1 {margin-bottom: 0;}

	p {@media (#{$bp-tablet-begins}) {width: 82%;}}

	ul {@media (#{$bp-tablet-begins}) {width: calc(82% - 20px);}}

	// Figures
	.fig-fullpage {@extend .fullpage;}
	.fig-nearly-full {
		@extend .fullpage;
		@media (#{$bp-phablet-begins}) {
			width: 100%;
			left: auto;
			margin-left: 0;
		}
		@media (#{$bp-tablet-begins}) {
			width: 82%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.fig-half {
		@media (#{$bp-phablet-begins}) {
			width: 82%;
			margin-left: auto;
			margin-right: auto;
		}
		@media (#{$bp-desktop-begins}) {width: 50%;}
	}
	.fig-table {
		font-size: 0.79em;
		@media (#{$bp-tablet-begins}) {font-size: inherit;}
	}

	// Portfolio Grid
	.portfolio-grid {
		display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: spacer(5);
    column-gap: spacer(3);
    & > *:last-child {margin-bottom: 0;}
		@media (#{$bp-desktop-begins}) {column-gap: spacer(5);}
	}

	// Sidebars
	.sidebar-container {
		display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: spacer(5);
		@media (#{$bp-tablet-begins}) {
			p {width: 100%;}
			ul {width: calc(100% - 20px);}
		}
		@media (#{$bp-desktop-begins}) {column-gap: spacer(5);}
	}

	.sidebar {
		font-size: 0.79em;
		grid-column: span 12;
		& > *:last-child {margin-bottom: 0;}
		@media (#{$bp-tablet-begins}) {grid-column: 2 / span 9;}
		@media (#{$bp-desktop-begins}) {
			grid-column: 9 / span 4;
			grid-row: 1 / 1;
		}
	}

	.sidebar-body {
		& > * {
			margin-bottom: spacer(5);
			&:last-child {margin-bottom: 0;}
		}
		grid-column: span 12;
		@media (#{$bp-tablet-begins}) {grid-column: 1 / span 10;}
		@media (#{$bp-desktop-begins}) {
			grid-column: 1 / span 8;
			grid-row: 1 / 1;
		}
	}

	// Dark Sections
	.section-dark-wrapper {
		width: 100vw;
		position: relative;
		left: 50%;
		margin-left: -50vw;
		background: darken(rgba($pop, .8), 50%);
		padding-bottom: spacer(5);
		& > * {margin-bottom: spacer(5);}
	}
	.section-dark-container {
		width: 80%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    & > * {margin-bottom: spacer(5);}
	}

	// Page - Shots
	&#page_shots {
		.fig-nearly-full {
			left: 0;
			margin-left: auto;
			width: 100%;
		}
	}
}

/*
.portfolio {
	background: white;

	h1, h2 {@extend .layout-full;}
	.portfolio-subtitle {@extend .layout-full;}

	figure {margin-bottom: spacer(5);}

	.portfolio-block {
		margin-bottom: spacer(10);

		p, ul {
			@extend .g_;
			@extend .off_1-d;
			@extend .g_9-d;
			@extend .g_12-t;
			@extend .g_12-p;
		}

		@media (#{$bp-phablet-begins}) {
			p, ul {margin-bottom: 0;}
			figure {margin-bottom: spacer(2);}
		}
	}

	.portfolio-block-sidebar {
		margin-bottom: spacer(10);

		h2, p, ul {
			@extend .g_;
			@extend .g_8-d;
			@extend .g_12-t;
			@extend .g_12-p;
		}
		.sidebar {
			@extend .g_;
			@extend .off_8-d;
			@extend .g_4-d;
			@extend .off_1-t;
			@extend .g_10-t;
		}
	}

	.portfolio-block-override {
		margin-bottom: spacer(10);
	}

	.portfolio-block-wireframes {
		flex-wrap: wrap;
		& > * {flex-basis: 33%;}
	}
}*/