// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Plain

.btn,
button {
	@extend small;
  display: inline-block;
  height: 42px;
  padding: 0 30px;
  color: $font-color;
  text-align: center;
  line-height: 42px;
  text-decoration: none;
  white-space: nowrap;
  background-color: $accent-color;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: background-color 0.75s ease, border 0.75s ease;
}

.btn:hover,
button:hover {
	background-color: $primary-color;
	border: none;
}

.btn.disabled,
button.disabled {cursor: default;}

// Fancy

a.fancy {
	display: block;
	text-align: center;
	border-bottom: 0;
	background: $secondary-color;
	background: $gradient-angle;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: background-color 1s ease;

	.layer {
		transition: background-color 1s ease;
		display: flex;
		justify-content: center;
		flex-direction: column;

		&:hover,
		&:active {background-color: $accent-color;}
	}
}

// Nav

a.nav {
	.layer {
		padding: $space-m $space-s;
	}
}

// Social

a.social-icon {
	margin-bottom: $space-s;
	border-bottom: none;
	transition: background-color 0.75s ease;

	svg {fill: currentColor;}

	.layer {
		padding: $space-xs;
		align-items: center;
		width: 50px;
		height: 50px;
	}
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {
	a.nav {
		small {display: none;}
	}

	a.social-icon {
		.layer {
			padding: $space-s;
			width: auto;
			height: auto;
		}
	}
}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {
	a.nav {
		small {display: inline;}
	}
}
