// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

a.fancy {
	display: block;
	text-align: center;
	border-bottom: 0;
	background: $mauve;
	background: 
		linear-gradient(
			45deg,
			$mauve 0%,
			$cornflower 100%
		);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: background-color 1s ease;

	.layer {
		transition: background-color 1s ease;
		display: flex;
		justify-content: center;
		flex-direction: column;

		&:hover,
		&:active {background-color: $ocean;}
	}
}

a.nav {
	.layer {
		padding: $space-m $space-s;
	}
}

a.social-icon {
	margin-bottom: $space;
	width: 100%;

	svg {fill: currentColor;}

	.layer {padding: $space-xs 0;}
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {
	a.nav {
		small {display: none;}
	}

	a.social-icon {
		.layer {padding: $space-s 0;}
	}
}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {
	a.nav {
		small {display: inline;}
	}
}
