@import "base/variables";

html {background: $light-grey;}

body {
	background: transparent;
}

.container  {
	background: transparent;
	border-top: none;
	border-bottom: none;
	width: 100%;
	margin-top: 0;
}
