// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Plain

.btn,
button {
  display: inline-block;
  height: 34px;
  padding: 0 30px;
  line-height: 34px;
  text-decoration: none;
  white-space: nowrap;
  background-color: $pop;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: background-color 0.1s ease;
}

.btn:hover,
button:hover {
	background-color: lighten($pop, 10%);
	-webkit-transition: background-color 0.15s ease;
}

.btn.disabled,
button.disabled {cursor: default;}