// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Plain

.btn,
button {
  display: inline-block;
  height: 34px;
  padding: 0 30px;
  line-height: 34px;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-repeat: no-repeat;
  position: relative;
  background-image: linear-gradient(to right, lighten($pop, 15%) 33%, magenta 43%, magenta 56%, $pop 66%);
  background-size: 306% 100%;
  background-position: 100%;
  transition: .15s background-position;
  &:hover {
    background-position: 0%;
  }
}

.btn.disabled,
button.disabled {cursor: default;}