.grid {@include grid(12);}

// Layouts
.layout-full {grid-column: span 12;}
.layout-nearly-full {grid-column: span 12;}
.layout-kinda-full {grid-column: span 12;}
.layout-half {grid-column: span 12;}
.layout-quarter {grid-column: span 12;}

// Phablet begins at 577px
@media (#{$bp-phablet-begins}) {
	.layout-quarter {grid-column: span 6;}
}

// Tablet begins at 577px
@media (#{$bp-tablet-begins}) {
	.layout-kinda-full {grid-column: 2 / span 10;}
	.layout-half {grid-column: span 6;}
}

// Desktop begins at 769px
@media (#{$bp-desktop-begins}) {
	.layout-nearly-full {grid-column: 2 / span 10;}
	.layout-kinda-full {grid-column: 2 / span 8;}
	.layout-quarter {grid-column: span 3;}
}

// Free Grid
.g_ {grid-column:  auto / span 12;}
[class*="g_"] {grid-column:  auto / span 12;}

// Offset
.off_1-m {grid-column-start: 2;}
.off_2-m {grid-column-start: 3;}
.off_3-m {grid-column-start: 4;}
.off_4-m {grid-column-start: 5;}
.off_5-m {grid-column-start: 6;}
.off_6-m {grid-column-start: 7;}
.off_7-m {grid-column-start: 8;}
.off_8-m {grid-column-start: 9;}
.off_9-m {grid-column-start: 10;}
.off_10-m {grid-column-start: 11;}
.off_11-m {grid-column-start: 12;}

// Sidebar
.sb_1 {grid-row: 1 / 2;}
.sb_2 {grid-row: 1 / 3;}
.sb_3 {grid-row: 1 / 4;}
.sb_4 {grid-row: 1 / 5;}
.sb_5 {grid-row: 1 / 6;}
.sb_6 {grid-row: 1 / 7;}

// Phablet begins at 577px
@media (#{$bp-phablet-begins}) {
	/*.g_1 {grid-column:  auto / span 6;}
	.g_2 {grid-column:  auto / span 6;}
	.g_3 {grid-column:  auto / span 6;}
	.g_4 {grid-column:  auto / span 12;}
	.g_5 {grid-column:  auto / span 12;}
	.g_6 {grid-column:  auto / span 12;}
	.g_7 {grid-column:  auto / span 12;}
	.g_8 {grid-column:  auto / span 12;}
	.g_9 {grid-column:  auto / span 12;}
	.g_10 {grid-column:  auto / span 12;}
	.g_11 {grid-column:  auto / span 12;}
	.g_12 {grid-column:  auto / span 12;}*/

	.g_1-p {grid-column:  auto / span 1;}
	.g_2-p {grid-column:  auto / span 2;}
	.g_3-p {grid-column:  auto / span 3;}
	.g_4-p {grid-column:  auto / span 4;}
	.g_5-p {grid-column:  auto / span 5;}
	.g_6-p {grid-column:  auto / span 6;}
	.g_7-p {grid-column:  auto / span 7;}
	.g_8-p {grid-column:  auto / span 8;}
	.g_9-p {grid-column:  auto / span 9;}
	.g_10-p {grid-column:  auto / span 10;}
	.g_11-p {grid-column:  auto / span 11;}
	.g_12-p {grid-column:  auto / span 12;}

	.off_1-p {grid-column-start: 2;}
	.off_2-p {grid-column-start: 3;}
	.off_3-p {grid-column-start: 4;}
	.off_4-p {grid-column-start: 5;}
	.off_5-p {grid-column-start: 6;}
	.off_6-p {grid-column-start: 7;}
	.off_7-p {grid-column-start: 8;}
	.off_8-p {grid-column-start: 9;}
	.off_9-p {grid-column-start: 10;}
	.off_10-p {grid-column-start: 11;}
	.off_11-p {grid-column-start: 12;}
}

// Tablet begins at 577px
@media (#{$bp-tablet-begins}) {
	.g_1-t {grid-column:  auto / span 1;}
	.g_2-t {grid-column:  auto / span 2;}
	.g_3-t {grid-column:  auto / span 3;}
	.g_4-t {grid-column:  auto / span 4;}
	.g_5-t {grid-column:  auto / span 5;}
	.g_6-t {grid-column:  auto / span 6;}
	.g_7-t {grid-column:  auto / span 7;}
	.g_8-t {grid-column:  auto / span 8;}
	.g_9-t {grid-column:  auto / span 9;}
	.g_10-t {grid-column:  auto / span 10;}
	.g_11-t {grid-column:  auto / span 11;}
	.g_12-t {grid-column:  auto / span 12;}

	// Offset
	.off_1-t {grid-column-start: 2;}
	.off_2-t {grid-column-start: 3;}
	.off_3-t {grid-column-start: 4;}
	.off_4-t {grid-column-start: 5;}
	.off_5-t {grid-column-start: 6;}
	.off_6-t {grid-column-start: 7;}
	.off_7-t {grid-column-start: 8;}
	.off_8-t {grid-column-start: 9;}
	.off_9-t {grid-column-start: 10;}
	.off_10-t {grid-column-start: 11;}
	.off_11-t {grid-column-start: 12;}
}

// Desktop begins at 769px
@media (#{$bp-desktop-begins}) {
	.g_1-d {grid-column:  auto / span 1;}
	.g_2-d {grid-column:  auto / span 2;}
	.g_3-d {grid-column:  auto / span 3;}
	.g_4-d {grid-column:  auto / span 4;}
	.g_5-d {grid-column:  auto / span 5;}
	.g_6-d {grid-column:  auto / span 6;}
	.g_7-d {grid-column:  auto / span 7;}
	.g_8-d {grid-column:  auto / span 8;}
	.g_9-d {grid-column:  auto / span 9;}
	.g_10-d {grid-column:  auto / span 10;}
	.g_11-d {grid-column:  auto / span 11;}
	.g_12-d {grid-column:  auto / span 12;}

	// Offset
	.off_1-d {grid-column-start: 2;}
	.off_2-d {grid-column-start: 3;}
	.off_3-d {grid-column-start: 4;}
	.off_4-d {grid-column-start: 5;}
	.off_5-d {grid-column-start: 6;}
	.off_6-d {grid-column-start: 7;}
	.off_7-d {grid-column-start: 8;}
	.off_8-d {grid-column-start: 9;}
	.off_9-d {grid-column-start: 10;}
	.off_10-d {grid-column-start: 11;}
	.off_11-d {grid-column-start: 12;}
}

// Masonry

.masonry-wrapper {
	column-count: 1;
	column-gap: spacer(2);
	@media (#{$bp-phablet-begins}) {
		column-count: 2;
		column-gap: spacer(3);
	}
	@media (#{$bp-tablet-begins}) {column-gap: spacer(5);}
	@media (#{$bp-desktop-begins}) {column-count: 3;}

	&#{-large} {
		@media (#{$bp-tablet-begins}) {
			column-count: 2;
			column-gap: spacer(5);
		}
		@media (#{$bp-desktop-begins}) {column-gap: spacer(7);}

		.masonry-container {
			margin: spacer(5) 0;
			@media (#{$bp-desktop-begins}) {margin: spacer(7) 0;}
		}
		& > * {
			margin: spacer(2) 0;
			@media (#{$bp-phablet-begins}) {margin: spacer(3) 0;}
			@media (#{$bp-tablet-begins}) {margin: spacer(5) 0;}
			&:first-child {margin-top: 0;}
			&:last-child {margin-bottom: 0;}
		}
	}
	& > * {
		margin: spacer(2) 0;
		@media (#{$bp-phablet-begins}) {margin: spacer(3) 0;}
		@media (#{$bp-tablet-begins}) {margin: spacer(5) 0;}
		&:first-child {margin-top: 0;}
		&:last-child {margin-bottom: 0;}
	}
}

.masonry-container {
	break-inside: avoid;
	min-width: 100%;
	max-width: 100%;
}
