// Sections
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Intro

#intro {
	margin-bottom: 0;
	@media (#{$bp-desktop-begins}) {margin-bottom: spacer(10);}
	.image {
		grid-column: 1 / span 12;
		grid-row: 1 / 2;
		background-image: 
			linear-gradient(rgba(255, 0, 0, 0.65), transparent), 
    	linear-gradient(to top left, rgba(0, 255, 0, 0.65), transparent), 
    	linear-gradient(to top right, rgba(0, 0, 255, 0.65), transparent), 
    	url(../assets/img/sarah-hero.jpg)
    ;
    background-blend-mode: soft-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 54%;
    z-index: 0;
    @media (#{$bp-phablet-begins}) {grid-column: 1 / span 8;}
	}
	.window {
		grid-row: 1 / 2;
		grid-column: 1 / span 12;
		align-self: center;
		height: calc(100% - 40px);
		background: $light;
		z-index: 10;
		clip-path: polygon(
			0 0, 							 //outside-left-top
			0 100%, 						 //outside-left-bottom
			15% 100%, 
			15% 20px, 						 //inside-left-top
			85% 20px, 						 //inside-right-top
			85% calc(100% - 20px), //inside-right-bottom
			15% calc(100% - 20px), //inside-left-bottom
			15% 100%, 
			100% 100%, 						 //outside-right-bottom
			100% 0 							 //outside-right-top
		);
		@media (#{$bp-phablet-begins}) {
			grid-column: 1 / span 8;
			clip-path: polygon(
				10% 0, 							 //outside-left-top
				10% 100%, 						 //outside-left-bottom
				25% 100%, 
				25% 20px, 						 //inside-left-top
				75% 20px, 						 //inside-right-top
				75% calc(100% - 20px), //inside-right-bottom
				25% calc(100% - 20px), //inside-left-bottom
				25% 100%, 
				100% 100%, 						 //outside-right-bottom
				100% 0 							 //outside-right-top
			);
		}
		@media (#{$bp-desktop-begins}) {
			clip-path: polygon(
				80px 0, 							 //outside-left-top
				80px 100%, 						 //outside-left-bottom
				25% 100%, 
				25% 40px, 						 //inside-left-top
				75% 40px, 						 //inside-right-top
				75% calc(100% - 40px), //inside-right-bottom
				25% calc(100% - 40px), //inside-left-bottom-left 
				25% 100%, 
				100% 100%, 						 //outside-right-bottom
				100% 0 							 //outside-right-top
			);
		}
	}
	.hero-container {
		display: none;
		grid-row: 1 / 2;
		grid-column: 7 / span 6;
		padding: 40px 80px 20px 0;
		height: calc(100% - 100px);
		align-self: center;
		background: $light;
		z-index: 20;
		align-items: center;
		grid-template-rows: 45px auto;
		grid-template-columns: min-content 200px auto;
		@media (#{$bp-phablet-begins}) {display: grid;}
		@media (#{$bp-tablet-begins}) {
			grid-template-rows: auto;
			grid-template-columns: min-content 270px auto;
		}
		@media (#{$bp-desktop-begins}) {
			grid-template-rows: minmax(min-content, 50%) auto;
			padding: 20px 80px 40px 0;
			height: calc(100% - 100px);
		}
		.a {
			grid-column: 1 / span 3;
			display: none;
			@media (#{$bp-phablet-begins}) {display: block;}
			@media (#{$bp-tablet-begins}) {grid-column: auto;}
		}
		.b {
			grid-column: 1 / span 2;
			grid-row: 2;
			background-image: url(../assets/svg/title.svg);
			background-repeat: no-repeat;
			background-size: 100%;
	    background-position-x: right;
	    padding-bottom: 32%;
	    display: none;
	    @media (#{$bp-phablet-begins}) {display: block;}
	    @media (#{$bp-tablet-begins}) {
	    	grid-column: auto;
	    	grid-row: auto;
	    	background-size: 92%;
	    	padding-bottom: 30%;
	    }
		}
		.c {
			display: none;
			@media (#{$bp-phablet-begins}) {display: block;}
		}
		.d {
			display: none;
			grid-column: 1 / span 3;
			grid-row: 2;
			align-self: flex-start;
			max-width: 540px;
			line-height: 1.15;
			@media (#{$bp-desktop-begins}) {display: block;}
		}
	}
}

#intro-sub {
	display: grid;
	align-items: center;
	grid-template-columns: min-content minmax(140px, 200px) auto;
	grid-gap: 0;
	margin-top: spacer(5);
	margin-bottom: 0;
	.b {
		background-image: url(../assets/svg/title.svg);
		background-repeat: no-repeat;
	  background-position-x: right;
	  background-size: 92%;
	  padding-bottom: 30%;
	}
	@media (#{$bp-phablet-begins}) {display: none;}
}

#hero-sub {
	margin-top: 0;
	line-height: 1.15;
	@media (#{$bp-phablet-begins}) {margin-top: spacer(5);}
	@media (#{$bp-desktop-begins}) {display: none;}
	& > * {margin: 0;}
}

// Experience

#experience {
	.table {
		display: grid;
		grid-template-columns: 100%;

		@media (#{$bp-tablet-begins}) {
			grid-template-columns: 50% 50%;
		}

		@media (#{$bp-desktop-begins}) {
			grid-template-columns: repeat(3, auto);
		}

		.cell {
			&:nth-child(3n-2) {
				border-top: 1px solid $pop;
				padding-top: spacer(1);
			}
			&:nth-child(3n) {padding-bottom: spacer(1);}
			&:last-child {border-bottom: 1px solid $pop;}

			@media (#{$bp-tablet-begins}) {
				&:nth-child(3n) {grid-column: 1 / span 2;}
				&:nth-child(3n-1) {
					border-top: 1px solid $pop;
					padding-top: spacer(1);
					text-align: right;
				}
			}

			@media (#{$bp-desktop-begins}) {
				border-top: 1px solid $pop;
				padding: spacer(1);
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				&:nth-child(3n) {grid-column: auto;}
				&:nth-child(3n-1) {text-align: left;}
				&:nth-last-child(2),
				&:nth-last-child(3) {border-bottom: 1px solid $pop;}
			}
		}
	}
}

// Skills

#skills {
	grid-template-columns: repeat(1, 1fr);
	header {}
	.content {display: none;}
}

// Work

#work {
	.card {
		&#{-image} {padding-bottom: 64%;}
		&.a {.card-image {background-image: url(../assets/img/portfolio-riskopy-3.jpg);}}
		&.b {.card-image {background-image: url(../assets/img/uponarrival-dsk.jpg);}}
		&.c {.card-image {background-image: url(../assets/img/portfolio-advent-cover.png);}}
	}
}

// Sarah
#sarah {
	h2 {
		margin-bottom: 0;
		text-transform: lowercase;
	}
}

// Social
#social {
	margin-bottom: spacer(10);
	h2 {text-transform: lowercase;}
}