// Spacing
//––––––––––––––––––––––––––––––––––––––––––––––––––
// temp
/*button,
.button {
  margin-bottom: $space-xs;
}

input,
textarea,
select,
fieldset {
  margin-bottom: $space-s;
}

pre,
blockquote,
dl,
figure,
img,
table,
p,
ul,
ol,
form,
a.nav {
  margin-bottom: $space;
}

figure {
	img {margin-bottom: 0;}
	figure {margin-bottom: 0;}
}*/