// Navigation
//––––––––––––––––––––––––––––––––––––––––––––––––––

nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: spacer(7);
	@media (#{$bp-phablet-begins}) {
		flex-direction: row;
		margin-bottom: spacer(12);
	}
	a {
		position: relative;
		@media (#{$bp-phablet-begins}) {
			padding-right: spacer(5);
			&:last-of-type {padding-right: 0;}
		}
		& > *:hover::before {
			color: rgba($pop, .2);
	    font-size: 3.5em;
	    font-style: italic;
	    line-height: 0;
	    position: absolute;
	    top: 21px;
	    left: -.55em;
		}
		&:nth-child(1) > *:hover::before {
			content: "1";
			left: -.5em;
		}
		&:nth-child(2) > *:hover::before {content: "2";}
		&:nth-child(3) > *:hover::before {content: "3";}
		&:nth-child(4) > *:hover::before {
			content: "4";
			left: -.525em;
		}
	}
}