<!DOCTYPE html>
<html lang="en">
	<head>
	  {% include head.html %}
	</head>
	<body class="portfolio"{% if page.id %} id="page_{{ page.id }}"{% endif %}>
		<div class="container">
			<div class="grid">
				<div class="layout-full right">
					<h5><a href="{{ site.baseurl }}{% link index.html %}">Home</a></h5>
				</div>
			</div>
			{{ content }}
			<div class="grid">
				<div class="layout-full">
					<h5><a href="{{ site.baseurl }}{% link index.html %}">Home</a></h5>
				</div>
			</div>
		</div>

		{% include scripts.html %}
	</body>
</html>