// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––

html {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//:root {font-size: calc(.35vw + 14.6px);}

@media (min-width: 96.429em) {
	//:root {font-size: 1.22rem;}
}

body {
	min-height: 100vh;
	background: $grey;
	font-size: 1em;
	line-height: 1.6;
	font-weight: 400;
	font-family: $font-family;
	color: $font-color;
}

.container {
	margin: 0 auto;
	padding-top: spacer(5);
	padding-bottom: spacer(5);
	@media (#{$bp-phablet-begins}) {width: $container-width-phablet;}
	@media (#{$bp-tablet-begins}) {width: $container-width-tablet;}
	@media (#{$bp-desktop-begins}) {
		width: $container-width-desktop;
		padding-top: spacer(10);
		padding-bottom: spacer(10);
	}
}

figure {
	margin: 0;
	text-align: center;
}

// Images

img[src$=".gif"], img[src$=".png"], img[src$=".jpg"] {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

img {
	max-width: 100%;
	box-sizing: border-box;
}

// Links
a {
	color: $font-color;
	text-decoration: none;
}

p a {
	border-bottom: 1px solid $font-color;
	transition: border-bottom 0.25s ease;

	&:hover {
		border-bottom: 4px solid $pop;
	}
}
