// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––

html {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

//:root {font-size: calc(.35vw + 14.6px);}

@media (min-width: 96.429em) {
	//:root {font-size: 1.22rem;}
}

body {
	min-height: 100vh;
	background: $grey;
	font-size: 1em;
	line-height: 1.6;
	font-weight: 400;
	font-family: $font-family;
	color: $font-color;
}

// .container, // temp delete container
main {
	margin: 0 auto;
	padding-top: spacer(7);
	padding-bottom: spacer(5);
	width: $container-width;
	max-width: $container-width-max;
	@media (#{$bp-tablet-begins}) {
		padding-top: spacer(9);
		padding-bottom: spacer(10);
	}
}

.fullpage {
	width: 100vw;
  position: relative;
  left: 50%;
  //right: 50%;
  margin-left: -50vw;
  //margin-right: -50vw;
  @media (#{$bp-desktop-xl-begins}) {
		width: $bp-desktop-xl;
		left: calc(50% + calc(calc(100vw - #{$bp-desktop-xl}) / 2));
    //position: relative;
    //margin-left: -50vw;
  }
}

figure {
	margin: 0;
	text-align: center;
}

// Images

img[src$=".gif"], img[src$=".png"], img[src$=".jpg"] {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

img {
	max-width: 100%;
	box-sizing: border-box;
}

// Links
a {
	color: $font-color;
	text-decoration: none;
}

p a {
	border-bottom: 1px solid $font-color;
	transition: border-bottom 0.25s ease;

	&:hover {
		border-bottom: 4px solid $pop;
	}
}
