// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Reset
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h5, h6 {font-family: $font-family;}
h4 {font-family: $font-family-secondary;}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 4.5rem;
  letter-spacing: -0.56px;
  @media (#{$bp-phablet-begins}) {font-size: 3.5rem;}
  @media (#{$bp-tablet-begins}) {font-size: 4rem;}
}

h2, .h2 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 3rem;
  letter-spacing: -0.35px;
  margin-bottom: spacer(2);
  @media (#{$bp-phablet-begins}) {font-size: 2.5rem;}
}

h3 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.35px;
  @media (#{$bp-phablet-begins}) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h4 {
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.68px;
  margin-bottom: spacer(1);
}

p, span, ul, ol, li {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: spacer(3);

  &.sidebar {
    font-size: 1.1rem;
    color: $grey;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: -.25px;
    strong {font-weight: 900;}
  }
}

.btn, button {
  @extend h4;
  margin-bottom: 0;
  color: $light;
  text-align: center;
}

figcaption {
  @extend p;
  color: $grey;
  margin-top: spacer(2);
  font-weight: 500;
  letter-spacing: -.25px;
  text-align: center;
}

li {margin-bottom: 0;}

// temp old

small {
	text-transform: uppercase;
	font-size: .65em;
	letter-spacing: 1px;
	font-weight: 700;
}

/*figcaption {
  @extend small;
  color: $medium-grey;
  text-align: center;
  margin-top: 0.5rem;

  a {
    color: $medium-grey;
    border-bottom: 1px solid $medium-grey;
  }
}*/

.heading-inline {margin-top: 0;}