// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.full {
	width: 100%;
	box-sizing: border-box;
}

.right {text-align: right;}

.center {margin: 0 auto;}

.center-v {align-self: center;}

.flex {@include flex(column);}

.flex-row {
	@include flex(column);
	@media (#{$bp-phablet-begins}) {flex-direction: row;}
}

.dsk {
	display: none;
	@media (#{$bp-tablet-begins}) {display: block;}
}

.mb {
	@media (#{$bp-tablet-begins}) {display: none;}
}

a.img {
	border-bottom: none;
	&:hover {background: none;}
}