// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.full {
	width: 100%;
	box-sizing: border-box;
}

.right {text-align: right;}

.center {margin: 0 auto;}

.center-v {align-self: center;}

.flex {@include flex(column);}

.flex-row {
	@include flex(column);
	@media (#{$bp-phablet-begins}) {flex-direction: row;}
}

/*.dsk {
	display: none;
	@media (#{$bp-tablet-begins}) {display: block;}
}

.mb {
	@media (#{$bp-tablet-begins}) {display: none;}
}

.disp {
	&-mb {
		@media (#{$bp-phablet-begins}) {display: none!important;}
	}
}*/

a.img {
	border-bottom: none;
	&:hover {background: none;}
}

.fig-border {
	img {
		border: spacer(1) solid rgba($grey, 0.2);
		&.zoom-img {border: 0;}
	}
	&.fig-nearly-full {
		img {
			border: 0;
			@media (#{$bp-phablet-begins}) {
				border: spacer(1) solid rgba($grey, 0.2);
				&.zoom-img {border: 0;}
			}
		}
	}
}
