// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
// values
$bp-phablet : 448px !default;
$bp-tablet : 768px !default;
$bp-desktop : 944px !default;
//queries
$bp-phablet-begins  : "min-width: #{$bp-phablet}" !default;
$bp-tablet-begins  : "min-width: #{$bp-tablet}" !default;
$bp-desktop-begins : "min-width: #{$bp-desktop}" !default;

// Spacing
$spacer: 0.5rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: $spacer,
    2: ($spacer * 2),
    3: ($spacer * 3),
    4: ($spacer * 4),
    5: ($spacer * 5),
    6: ($spacer * 6),
    7: ($spacer * 7),
    8: ($spacer * 8),
    9: ($spacer * 9),
    10: ($spacer * 10),
    11: ($spacer * 11),
    12: ($spacer * 12)
  ),
  $spacers
);

// Colors
$dark  : #252120 !default;
$light : #FFF !default;
$pop   : #2055CD !default;
$grey  : #F1F4F5 !default;

// Typography
$font-color: $dark !default;
$font-family: 'Cardo', serif !default;
$font-family-secondary: sans-serif !default;

//Container
$container-width-desktop: 960px !default;
$container-width-phablet: 80% !default;
$container-width-tablet: 78% !default;
