// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
// values
$bp-phablet : 448px !default;
$bp-tablet : 768px !default;
$bp-desktop : 944px !default;
//queries
$bp-phablet-begins  : "min-width: #{$bp-phablet}" !default;
$bp-tablet-begins  : "min-width: #{$bp-tablet}" !default;
$bp-desktop-begins : "min-width: #{$bp-desktop}" !default;

// Spacing
$spacer: 0.5rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: $spacer,
    2: ($spacer * 2),
    3: ($spacer * 3),
    4: ($spacer * 4),
    5: ($spacer * 5),
    6: ($spacer * 6),
    7: ($spacer * 7),
    8: ($spacer * 8),
    9: ($spacer * 9),
    10: ($spacer * 10),
    11: ($spacer * 11),
    12: ($spacer * 12)
  ),
  $spacers
);

// Colors
$dark  : #262124 !default;
$light : #FBD9CB !default;
$pop   : rgb(183, 56, 25) !default; // temp #ab3922 works on Chrome, og was #B62C16
$grey  : lighten($dark, 35%) !default;

// Typography
$font-color: $dark !default;
$font-family: 'Frank Ruhl Libre', serif !default;
$font-family-secondary: 'Cabin', sans-serif !default;

//Container
$container-width: 1200px !default;
$container-width-phablet: 85% !default;
$container-width-tablet: 80% !default;
